<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Aktiivsed arutelud
  </div>
  <div class="my-1 card-content">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Minuga seotud</a>
        <ng-template ngbNavContent>
          <app-discussions-list [relation]="'person'"></app-discussions-list>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Minu asutusega seotud</a>
        <ng-template ngbNavContent>
          <app-discussions-list [relation]="'organization'"></app-discussions-list>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>
