<app-page-header [text]="'Hindaja'"></app-page-header>
<section class="col card p-3">
  <div class="container-fluid my-1">
    <div class="table-responsive">
      <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="owner">Omanik</th>
          <th class="name">Infosüsteemi nimi</th>
          <th class="objective">Eesmärk</th>
          <th class="last-modified">Viimati muudetud</th>
          <th class="status">Staatus</th>
          <th class="approved">Kooskõlastatud</th>
          <th class="approval-status">Kooskõlastamise staatus</th>
          <th class="approval-comment">Kooskõlastamise kommentaar</th>
          <th class="approve text-sm-right">Tegevused</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let system of systems">
            <td class="owner"></td>
            <td class="name"></td>
            <td class="objective"></td>
            <td class="last-modified text-nowrap"></td>
            <td class="status"></td>
            <td class="approved text-nowrap"></td>
            <td class="approval-status text-nowrap"></td>
            <td class="approval-comment"></td>
            <td class="approve text-nowrap text-sm-center">
              <button id="btnApproval" class="btn btn-sm btn-outline-primary">Hinda</button>
              <button id="btnApprovalLog" class="btn btn-sm btn-outline-info">Logi</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
