<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Hindajate tagasiside
  </div>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i> Hetkel aktiivsed</ng-template>
      <ng-template ngbTabContent>
        <app-alert [conf]="{
          type: 'info',
          heading: 'Ühtegi aktiivset arutelu ei leidu',
          text: 'Arutelusid algatada ja kommenteerida saavad vaid infosüsteemi kontaktid ning RIHA hindajad'
        }"></app-alert>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Suletud</ng-template>
      <ng-template ngbTabContent>
        <app-alert [conf]="{
          type: 'info',
          heading: 'Ühtegi suletud arutelu ei leidu',
          text: 'Arutelusid algatada ja kommenteerida saavad vaid infosüsteemi kontaktid ning RIHA hindajad'
        }"></app-alert>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="my-1">
    <div class="table-responsive">
      <table id="infosystems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
      </table>
    </div>
    <button class="btn btn-primary" (click)="openAddCommentModal()">Lisa uus arutelu</button>
  </div>
</section>
