<div id="wrap">
  <header id="header">
    <div class="header-bottom">
      <app-riha-navbar></app-riha-navbar>
    </div>
  </header>
  <div class="header-alert bg-primary">
    <div class="container"></div>
  </div>
  <main id="content" class="container">
    <header class="pagehead" style="background-image:url(assets/images/data/intro-bg.png)">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-0 mb-md-4">RIHA toimingud</h1>
        </div>
      </div>
    </header>
    <app-card-deck></app-card-deck>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-12">
          <div class="block">
            <p class="head">Kasutajatugi
            </p>
            <ul class="contacts-list list-unstyled">
              <li>
                <div class="item-single">
                    <span class="fa fa-envelope">
                    </span>
                  <div class="body">
                    <div class="content">
                      <a href="mailto:help@ria.ee">help@ria.ee</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-12">
          <div class="block">
            <p class="head">Abiinfo &amp; lingid</p>
            <ul class="links-list list-unstyled">
              <li>
                <a href="#">Korduma kippuvad küsimused</a>
              </li>
              <li>
                <a href="#">Abi</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="logo pl-md-3 text-center text-md-left mt-md-0 mt-3">
            <a href="https://www.ria.ee/">
              <img src="assets/images/base/RIA.png" alt="Riigi Infosüsteemi Amet"></a>
            <img src="assets/images/base/EL.png" alt="Eruoopa Liidu Regionaalarengufond">
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
