/* Fonts */
$font-primary: 'Roboto',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
$font-tertiary: 'Roboto',
sans-serif;
/* Colors */
$white: #ffffff;
$black: #000000;
$dark: #222326;
$primary: #023cc1;
$primary-light: #215ade;
$primary-light2: #98b6fa;
$primary-dark: #032471;
$primary-dark2: #0232a1;
$primary-dark3: #0234a6;
$secondary: #4bea78;
$secondary-light: #a2f3b9;
$secondary-dark: #40d86b;
$grey: #edf0f5;
$grey-light: #f2f5f9;
$grey-dark: #dce1ea;
$grey-dark2: #7e888f;
$grey2: #f2f2ec;
$grey3: #7a838a;
$purple-lt: #98b6fa;
$purple: #7416f5;
$yellow: #fffd64;
$brown: #5f5449;
$frm-dark:#292d30;
$danger-dark: #e73938;
$warning-dark: #e1c238;
$success-dark: #40d86b;