<div id="wrap">
  <header id="header">
    <div class="nav-overlay"></div>
    <div class="header-bottom">
      <app-riha-navbar></app-riha-navbar>
    </div>
  </header>
  <div class="header-alert bg-primary">
    <div class="container"></div>
  </div>
  <main id="content" class="container">
    <router-outlet>
    </router-outlet>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-12">
          <div class="block">
            <p class="head">Kasutajatugi
            </p>
            <ul class="contacts-list list-unstyled">
              <li>
                <div class="item-single">
                    <span class="fa fa-envelope">
                    </span>
                  <div class="body">
                    <div class="content">
                      <a href="mailto:help@ria.ee">help@ria.ee</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-12">
          <div class="block">
            <p class="head">Abiinfo &amp; lingid</p>
            <ul class="links-list list-unstyled">
              <li>
                <a href="https://abi.riha.ee/">Abikeskus</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-12">
          <a href="https://www.ria.ee/">
            <img alt="Riigi Infosüsteemi Amet" src="assets/images/base/RIA.png">
          </a>
        </div>
        <div class="col-sm-6 col-md-2 col-12">
          <img alt="Euroopa Liidu Regionaalarengufond" src="assets/images/base/EL.png">
        </div>
      </div>
    </div>
  </footer>
</div>
