<app-page-header [text]="'Andmeobjektid'"></app-page-header>
<section class="col card p-3">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <small class="label-small-text text-muted">Sisesta vähemalt 2 tähemärki</small>
        <div class="row px-2">
          <input class="form-control col"
                 placeholder="Otsi andmeobjektidest"
                 (keyup.enter)="getDataObjectFiles()"
                 [(ngModel)]="filters.searchText"
                 type="text" id="search-text-input">
          <button type="button" class="btn btn-primary ml-3" (click)="getDataObjectFiles()"><i class="fa fa-search" aria-hidden="true"></i> Otsi</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <a href="#" (click)="toggleSearchPanel()" class="pull-right font-weight-bold">Täpsusta otsingut</a>
    <a [routerLink]="'/Infosüsteemid'" class="pull-left">Otsi infosüsteemidest</a>
    <a [routerLink]="'/Andmeobjektid'" class="pull-left active-inner-router-link ml-3">Otsi andmeobjektidest</a>
  </div>

  <div *ngIf="extendedSearch" id="extended-search-panel">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">

        <div class="form-group">
          <label for="name-input-andmeobjekti-nimi">Andmeobjekti nimetus</label>
          <input class="form-control" [(ngModel)]="filters.dataObjectName" type="text" id="name-input-andmeobjekti-nimi">
        </div>

        <div class="form-group">
          <label for="kommentaar-input">Kommentaar / selgitus</label>
          <input class="form-control" [(ngModel)]="filters.comment" type="text" id="kommentaar-input">
        </div>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="name-input-vanemobjekt-nimi">Ülemobjekti nimetus</label>
          <input class="form-control" [(ngModel)]="filters.parentObject" type="text" id="name-input-vanemobjekt-nimi">
        </div>

        <div class="form-group">
          <label for="short-name-input">Infosüsteem</label>
          <input class="form-control" [(ngModel)]="filters.searchName" type="text" id="short-name-input">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="personal-data-input">Kas isikuandmed?</label>
          <select id="personal-data-input" class="form-control"
                  [(ngModel)]="filters.personalData">
            <option [value]="'eriliigiline'">jah, eriliigiline</option>
            <option [value]="'delikaatne'">jah, delikaatne</option>
            <option [value]="'jah'">jah</option>
            <option [value]="'ei'">ei</option>
            <option [value]="'muu'">muu</option>
            <option [value]="''">määramata</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="infosystem-input">Põhiinfosüsteem</label>
          <input class="form-control" [(ngModel)]="filters.infosystem" type="text" id="infosystem-input">
        </div>
      </div>

    </div>
      
  </div>
  <div *ngIf="loaded" class="my-1">
    <div class="table-responsive">
      <div class="my-2">
        Leitud {{ gridData.totalElements }}
      </div>
      <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
        <thead class="thead-default">
        <tr>
          <th>
            <app-sort-button
              [cssClass]="'btn btn-primary btn-sm whitespace-wrap-normal'"
              [labelText]="'Andmeobjekti nimetus'"
              [sortProperty]="'andmeobjekti_nimi'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [cssClass]="'btn btn-primary btn-sm whitespace-wrap-normal'"
              [labelText]="'Ülemobjekti nimetus'"
              [sortProperty]="'vanemobjekt'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Isikuandmed'"
              [sortProperty]="'personal_data'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [cssClass]="'btn btn-primary btn-sm whitespace-wrap-normal'"
              [labelText]="'Põhiinfosüsteemi nimetus'"
              [sortProperty]="'infosystem'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [cssClass]="'btn btn-primary btn-sm whitespace-wrap-normal'"
              [labelText]="'Kommentaar / selgitus '"
              [sortProperty]="'kommentaar'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [cssClass]="'btn btn-primary btn-sm whitespace-wrap-normal'"
              [labelText]="'Infosüsteemi lühinimi'"
              [sortProperty]="'short_name'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of gridData.content">
          <td class="owner-centered"> {{r.dataObjectName}}</td>
          <td class="owner-centered"> {{r.parentObject}}</td>
          <td class="owner-centered"> {{r.personalData}}</td>
          <td class="owner-centered"> {{r.infosystem}}</td>
          <td class="owner-centered"> {{r.comment}}</td>
          <td class="owner-centered"><a [routerLink]="['/Infosüsteemid/Vaata', r.shortName]">{{ r.shortName}}</a></td>
          <td class="owner-centered"><a href="{{ helper.getFileUrl('file://' + r.fileUuid, r.shortName) }}" target="_blank"><i class="fa fa-download text-primary"></i></a></td>
        </tr>
        </tbody>
      </table>
      <div class="pull-right">
        <app-grid-currently-showing [gridData]="gridData"></app-grid-currently-showing>
        <ngb-pagination
          class="pull-right"
          (pageChange)="onPageChange($event)"
          [pageSize]="gridData.size"
          [maxSize]="5"
          [collectionSize]="gridData.getSize()"
          [page]="gridData.getPageNumber()"></ngb-pagination>
      </div>
    </div>
  </div>
  <div *ngIf="!loaded" class="my-1 text-center">
    <i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
  </div>
</section>

