<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Õigusaktid
    <button *ngIf="allowEdit" (click)="openLegislationsEdit()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Muuda</button>
  </div>
  <div class="form-group">
    <label class="text-muted separated-text">Infosüsteemi õigusaktid:</label>
    <p *ngIf="!system.details.legislations || system.details.legislations.length == 0; else legislations">
      Õigusaktid puuduvad
    </p>

    <ng-template #legislations>
      <div class="my-1">
        <div class="table-responsive">
          <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
            <thead class="thead-light">
            <tr>
              <th>
                <app-sort-button
                  [labelText]="'Nimetus'"
                  [sortProperty]="'name'"
                  [gridData]="gridData"
                  (buttonClick)="onSortChange($event)"></app-sort-button>
              </th>
              <th>
                <app-sort-button
                  [labelText]="'Liik'"
                  [sortProperty]="'typeForSorting'"
                  [gridData]="gridData"
                  (buttonClick)="onSortChange($event)"></app-sort-button>
              </th>
              <th>
                <app-sort-button
                  [labelText]="'Lisamise kuupäev'"
                  [sortProperty]="'creation_timestamp'"
                  [gridData]="gridData"
                  (buttonClick)="onSortChange($event)"></app-sort-button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let legislation of gridData.content">
              <td class="name">
                <i class="fa fa-external-link text-primary" style="margin-right:5px;"></i>
                <a href="{{ legislation.url }}" target="_blank">{{ (!legislation.name || legislation.name.trim()=='') ? legislation.url : legislation.name }}</a>
              </td>
              <td class="type"><span *ngIf="legislation.type && classifiers.legislation_types[legislation.type]">{{classifiers.legislation_types[legislation.type].value}}</span></td>
              <td class="last-modified text-nowrap">
                <app-file-create-update-date [file]="legislation"></app-file-create-update-date>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </div>
</section>
