<div *ngIf="!isLoggedIn()" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Palun logige sisse</h3>
  <p class="mb-0">Muutmise alustamiseks on vaja RIHAsse sisse logida. <a [routerLink]="'/Login'">Logi sisse.</a></p>
</div>
<div *ngIf="isLoggedIn() && !canDescribe()" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Kirjeldamine ei ole lubatud</h3>
  <p class="mb-0">Sul ei ole selle infosüsteemi kirjeldamise õigust. Õiguse saamiseks võta ühendust RIHA kasutajatoega <a href="mailto:help@ria.ee">help@ria.ee</a></p>
</div>
<section *ngIf="isLoggedIn() && canDescribe()" class="col card p-3 main-content">
  <div class="panel-action-heading">
    Infosüsteemi üldkirjeldus
  </div>
  <div class="my-1">
    <form class="col-12" #editForm="ngForm" >
      <app-alert *ngIf="showAlert" [conf]="alertConf" [@enterAnimation]></app-alert>
      <div class="form-group" [ngClass]="{'has-danger': name.invalid  && (name.dirty || name.touched || editForm.submitted)}">
        <label for="name-input" class="text-muted">Infosüsteemi nimi:</label>
        <input #name="ngModel" class="form-control h1" [(ngModel)]="system.details.name" name="system.details.name" type="text" id="name-input" required>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': shortName.invalid  && (shortName.dirty || shortName.touched || editForm.submitted)}">
        <label for="short-name-input" class="text-muted">Infosüsteemi lühinimi:</label>
        <input #shortName="ngModel"
               class="form-control h2"
               [(ngModel)]="system.details.short_name"
               name="short_name"
               pattern="[a-zA-ZÕõÄäÖöÜü0-9.-]*"
               type="text"
               id="short-name-input" required>
      </div>
      <div class="separate-block">
        <div class="form-group row">
          <label for="active-since-date" class="col-form-label advanced-label">
            <span *ngIf="system.getStatus() == globals.system_status.IN_USE"><i class="fa fa-exchange" aria-hidden="true"></i> Süsteem on <strong class="text-primary">kasutusel</strong> <span *ngIf="system.isUsed()">alates </span></span>
            <span *ngIf="system.getStatus() == globals.system_status.ESTABLISHING"><i class="fa fa-exchange" aria-hidden="true"></i> Süsteem on <strong class="text-primary">asutamisel</strong></span>
            <span *ngIf="system.getStatus() == globals.system_status.FINISHED"><i class="fa fa-exchange" aria-hidden="true"></i> Süsteem on <strong class="text-primary">lõpetatud</strong></span>
            <span *ngIf="!system.getStatus()"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Süsteemi staatus on <strong>määramata</strong></span>
          </label>
          <div class="col-sm-4">
            <div class="input-group datepicker" *ngIf="system.isUsed()">
              <input id="active-since-date" class="form-control" placeholder="yyyy-mm-dd"
                     name="active_since" [(ngModel)]="system.details.meta.system_status.timestamp" ngbDatepicker #activeSinceDate="ngbDatepicker">
              <span class="input-group-btn">
                <button (click)="activeSinceDate.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
            </span>
            </div>
          </div>
          <div class="col-sm-8 form-links">
            <a href="#" (click)="changeSystemStatus(globals.system_status.IN_USE)">kasutusel</a>
            <a href="#" (click)="changeSystemStatus(globals.system_status.ESTABLISHING)">asutamisel</a>
            <a href="#" (click)="changeSystemStatus(globals.system_status.FINISHED)">lõpetatud</a>
          </div>
        </div>
        <div class="form-group">
          <label *ngIf="system.getDevelopmentStatus() == globals.development_status.IN_DEVELOPMENT" class="col-form-label advanced-label"><i class="fa fa-line-chart" aria-hidden="true"></i> Infosüsteem on <strong class="text-primary">aktiivses arenduses</strong></label>
          <label *ngIf="system.getDevelopmentStatus() == globals.development_status.NOT_IN_DEVELOPMENT" class="col-form-label advanced-label"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Infosüsteem <strong class="text-danger">ei ole arenduses</strong></label>
          <label *ngIf="!system.getDevelopmentStatus()" class="col-form-label advanced-label"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Infosüsteemi arenduse staatus on <strong>määramata</strong></label>
          <div class="col-sm-4 form-links">
            <span>Kas infosüsteem on arendusel?</span>
            <a href="#" (click)="changeInDevelopmentStatus(true)">Jah</a>
            <a href="#" (click)="changeInDevelopmentStatus(false)">Ei</a>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': purpose.invalid  && (purpose.dirty || purpose.touched || editForm.submitted)}">
        <label for="purpose-textarea" class="text-muted">Infosüsteemi eesmärk:</label>
        <textarea #purpose="ngModel" [(ngModel)]="system.details.purpose" name="purpose" class="form-control counter-element" id="purpose-textarea" rows="10" placeholder="kellele ja miks infosüsteem luuakse" required></textarea>
      </div>
      <div class="form-group">
        <label class="text-muted">Infosüsteemi valdkond:
          <app-tooltip [text]='"Valdkonnad ja märksõnad, mis infosüsteemi iseloomustavad. Näiteks \"majandus\", \"x-tee alamsüsteem\", \"standardlahendus\" jne. Uue märksõna lisamiseks kasuta reavahetust"'></app-tooltip>
        </label>
        <tag-input [(ngModel)]="system.details.topics" name="topics"
                   [theme]="'bootstrap'"
                   [placeholder]="'lisa uus'"
                   [modelAsStrings]="true"
                   [secondaryPlaceholder]="'valdkonnad'"></tag-input>
      </div>
      <p>
        <span class="text-muted">Omanik:</span><br>
        <span class="text-primary">{{ system.details.owner.name || system.details.owner.code }}</span>
      </p>
      <div class="separate-block">
        <div class="form-group row" [ngClass]="{'has-danger': homepage.invalid}">
          <label for="homepage" class="col-form-label advanced-label">
            <i class="fa fa-external-link text-muted" aria-hidden="true"></i><strong>Avalik kasutajaliides</strong>
          </label>
          <div class="col">
            <div class="input-group">
              <input id="homepage" class="form-control"
                     placeholder="http://"
                     type="url"
                     #homepage="ngModel"
                     name="homepage" [(ngModel)]="system.details.homepage" url>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label *ngIf="system.getXRoadStatus() == globals.x_road_status.JOINED" for="x_road_date" class="col-form-label advanced-label">
            <i class="fa fa-times" aria-hidden="true"></i>Infosüsteem <strong class="text-primary">on liidestatud</strong> X-teega
          </label>
          <label *ngIf="system.getXRoadStatus() == globals.x_road_status.NOT_JOINED" for="x_road_date" class="col-form-label advanced-label">
            <i class="fa fa-times" aria-hidden="true"></i>Infosüsteem <strong class="text-primary">ei ole liidestatud</strong> X-teega
          </label>
          <label *ngIf="!system.getXRoadStatus()" class="col-form-label advanced-label">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>X-teega liidestamine staatus on <strong>määramata</strong>
          </label>
          <div class="col-sm-4">
            <div *ngIf="system.getXRoadStatus() == globals.x_road_status.JOINED" class="input-group datepicker">
              <input id="x_road_date" class="form-control" placeholder="yyyy-mm-dd"
                     name="x_road_date" [(ngModel)]="system.details.meta.x_road_status.timestamp" ngbDatepicker #xRoadDate="ngbDatepicker">
              <span class="input-group-btn">
                <button (click)="xRoadDate.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
              </span>
            </div>
          </div>
          <div class="col-sm-8 form-links">
            <span>Kas infosüsteem on liidestatud X-teega?</span>
            <a href="#" (click)="changeXRoadStatus(globals.x_road_status.JOINED)">Jah</a>
            <a href="#" (click)="changeXRoadStatus(globals.x_road_status.NOT_JOINED)">Ei</a>
          </div>
        </div>

      </div>
      <hr>
      <p>
        <app-date-row [icon]="'fa-retweet'" [text]="'Andmed uuendati viimati'" [date]="system.details.creation_date"></app-date-row>
      </p>
      <div class="actions-bar">
        <div class="buttons pull-right">
          <button class="btn btn-default" [routerLink]="['/Kirjelda/Vaata', system.details.short_name]">Tühista</button>
          <button class="btn btn-success" (click)="onSubmit(editForm)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Salvesta</button>
        </div>
      </div>
    </form>
  </div>
</section>
