<div class="fixed-header">
  Hindajate tagasiside
  <button (click)="closeModal()" class="btn btn-sm btn-secondary close-modal-btn pull-right"><i class="fa fa-remove" aria-hidden="true"></i></button>
</div>
<section class="col card p-3 main-content scrollable-modal-content">
  <div class="my-1">
    <div class="mx-4 mb-4 mt-1 h2">
      <span class="text-gray-dark">{{ feedback.title }}</span>
      <app-tooltip
        [placement]="'bottom'"
        [text]='"Arutelude kommentaarid ei ole avalikud, need on nähtavad infosüsteemi kirjeldusõigusega isikutele ning kõigile RIHA hindajatele. RIHA arutelusid võib sulgeda siis, kui hindaja poolt raporteeritud puudus on lahenduse leidnud."'>
      </app-tooltip>
    </div>
    <div class="ml-4 my-1 card-text">
      <span *ngIf="feedback.status == 'OPEN'"><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i> Aktiivne</span>
      <span *ngIf="feedback.status == 'CLOSED'"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Suletud</span><br>
      <span *ngIf="feedback.type !=null">
        <span class="text-muted sp">Arutelu tüüp:</span>
        <strong *ngIf="feedback.type && classifiers.issue_type[feedback.type]">{{classifiers.issue_type[feedback.type].value}}</strong>
        <span *ngIf="feedback.status == 'OPEN'"><br>Otsuse tähtpäev:
          <span [ngClass]="{'text-danger': deadlinePassed}">{{ feedback.decisionDeadline }}</span>
        </span>
      </span>
    </div>
    <div class="card card-text m-4">
      <div class="card-header pl-2">
        <strong>{{ getOrganizationWithUser(feedback) }}</strong> - {{ feedback.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div class="card-content p-2">
        <p class="user-multiline-text" [innerHTML]="feedback.comment | linkify"></p>
      </div>
    </div>
    <div *ngFor="let reply of replies" class="m-4">
      <div *ngIf="reply.entityType == 'ISSUE_COMMENT'" class="card card-text">
        <div class="card-header pl-2">
          <strong>{{ getOrganizationWithUser(reply) }}</strong> - {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
        </div>
        <div class="card-content p-2">
          <p class="user-multiline-text" [innerHTML]="reply.comment | linkify"></p>
        </div>
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'CLOSED' && !reply.resolutionType" class="card-text ml-4">
        <i class="fa fa-check-circle text-success approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> märkis selle arutelu lahendatuks {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'CLOSED' && reply.resolutionType == classifiers.issue_resolution_type.NEGATIVE.code" class="card-text ml-4">
        <i class="fa fa-check-circle text-success approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> andis kooskõlastamise koondotsuse <span class="text-danger font-weight-bold">mittekooskõlastatud</span> ja sulges arutelu {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'CLOSED' && reply.resolutionType == classifiers.issue_resolution_type.POSITIVE.code" class="card-text ml-4">
        <i class="fa fa-check-circle text-success approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> andis kooskõlastamise koondotsuse <span class="text-success font-weight-bold">kooskõlastatud</span> ja sulges arutelu {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'DECISION' && reply.resolutionType == classifiers.issue_resolution_type.POSITIVE.code" class="card-text ml-4">
        <i class="fa fa-check-circle text-success approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> kooskõlastas {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'DECISION' && reply.resolutionType == classifiers.issue_resolution_type.NEGATIVE.code" class="card-text ml-4">
        <i class="fa fa-exclamation-circle text-danger approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> ei kooskõlastanud {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
      <div *ngIf="reply.entityType == 'ISSUE_EVENT' && reply.type == 'DECISION' && reply.resolutionType == classifiers.issue_resolution_type.DISMISSED.code" class="card-text ml-4">
        <i class="fa fa-eye-slash text-muted approver-style" aria-hidden="true"></i> <strong>{{ getOrganizationWithUser(reply) }}</strong> jättis läbi vaatamata {{ reply.dateCreated | datem:'YYYY-MM-DD HH:mm:ss'}}
      </div>
    </div>
    <form class="col-12" #commentForm="ngForm" class="m-4">
      <div *ngIf="feedback.status == 'OPEN'" class="card card-text">
        <div class="card-header font-weight-bold pl-2">
          {{ activeUser.getActiveOrganization().name }} ({{ activeUser.getFullName() }})
        </div>
        <div class="card-content p-2">
            <div class="form-group">
                <textarea class="form-control counter-element" rows="10" placeholder="Kirjuta siia enda kommentaar"
                          #textInput
                          [(ngModel)]="commentText"
                          name="commentText"></textarea>
            </div>
            <div class="row pull-right">
              <div *ngIf="canPostDecision()">
                <select class="form-control"
                        [compareWith]="generalHelperService.compareClassifiers"
                        [(ngModel)]="decisionType"
                        name="decisionType">
                  <option [ngValue]="'null'" selected>Vali otsus...</option>
                  <option *ngFor="let type of generalHelperService.toArray(classifiers.issue_resolution_type)" [ngValue]="type.code" selected>{{ type.value }}</option>
                </select>
              </div>
              <div class="mx-2" *ngIf="feedback.status == 'OPEN'" >
                <button *ngIf="decisionType == 'null'" (click)="postComment(commentForm)" class="btn btn-primary pull-right">Lisa kommentaar</button>
                <button *ngIf="decisionType != 'null'" (click)="postDecision(commentForm)" class="btn btn-primary pull-right">{{
                  textInput.value ? 'Lisa otsus ja kommentaar' : 'Lisa otsus' }}</button>
              </div>
            </div>
        </div>
      </div>
    </form>
    <div *ngIf="canResolveGeneral() || canResolveWithVerdict()" class="actions-bar">
      <div class="buttons pull-right">
        <button (click)="markResolved()" *ngIf="canResolveGeneral()" class="btn btn-outline-primary pull-right">Märgi lahendatuks</button>
        <button (click)="markResolvedWithVerdict(classifiers.issue_resolution_type.NEGATIVE.code)" *ngIf="canResolveWithVerdict()" class="btn btn-outline-danger pull-right">Lükka tagasi ja sulge</button>
        <button (click)="markResolvedWithVerdict(classifiers.issue_resolution_type.POSITIVE.code)" *ngIf="canResolveWithVerdict()" class="btn btn-outline-success pull-right">Kooskõlasta ja sulge</button>
      </div>
    </div>
  </div>
</section>
