<app-page-header></app-page-header>
<section *ngIf="loaded" class="col card p-3 main-content">
  <div class="panel-action-heading">
    Infosüsteemi üldkirjeldus
  </div>
  <div class="my-1">
    <div class="form-group">
      <label for="name-input" class="text-muted separated-text">Infosüsteemi nimi:</label>
      <input #name="ngModel" class="form-control h1" [(ngModel)]="system.details.name" name="system.details.name" type="text" id="name-input">
    </div>
    <div class="form-group">
      <label for="short-name-input" class="text-muted separated-text">Infosüsteemi lühinimi:</label>
      <input #shortName="ngModel" class="form-control h2" [(ngModel)]="system.details.short_name" name="short_name" type="text" id="short-name-input">
    </div>
    <div class="form-group">
      <label for="purpose-textarea" class="text-muted separated-text">Infosüsteemi eesmärk:</label>
      <textarea #purpose="ngModel" [(ngModel)]="system.details.purpose" name="purpose" class="form-control counter-element" id="purpose-textarea" rows="10" placeholder="kellele ja miks infosüsteem luuakse" required></textarea>
    </div>
    <p>
      <span class="text-muted separated-text">Omanik:</span><br>
      <span class="text-primary">{{ system.details.owner.code }}</span>
    </p>
    <hr>
    <p>
      <app-date-row [text]="'Andmed uuendati viimati'" [date]="system.details.creation_date"></app-date-row>
    </p>
  </div>
</section>
