<section class="col card p-3 main-content">
  Palun vali asutus, mille alt soovid RIHAs toiminguid sooritada. Asutust saad hiljem vahetada klikates enda nimele üleval menüüribal.
  <div class="table-responsive">
    <table class="table dataTable table-hover" cellspacing="0" width="100%">
      <tbody>
        <tr class="chooser-style"
            [ngClass]="{'table-info': (user.activeOrganization && (user.activeOrganization.code == organization.code))}"
            *ngFor="let organization of user.getOrganizations()"
            (click)="selectOrganization(organization.code)" >
          <td>{{ organization.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
