<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Dokumentatsioon
    <button (click)="openTechDocsEdit()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Muuda</button>
  </div>
  <div class="form-group">
    <label class="text-muted separated-text">Infosüsteemi tehniline dokumentatsioon:</label>
    <p *ngIf="!system.details.documents || system.details.documents.length == 0">
      Dokumentatsioon puudub.
    </p>
    <table class="details-list-table">
      <tr *ngFor="let doc of system.details.documents">
        <td>
          <i class="fa fa-external-link text-primary"></i>
        </td>
        <td>
          <a href="{{ doc.url }}" target="_blank">{{ (!doc.name || doc.name.trim()=='') ? doc.url : doc.name }}</a>
        </td>
      </tr>
    </table>
  </div>
</section>
