<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Dokumentatsioon
    <button *ngIf="allowEdit" (click)="openTechDocsEdit()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Muuda</button>
  </div>
  <div class="form-group">
    <label class="text-muted separated-text">Infosüsteemi tehniline dokumentatsioon:</label>
    <p *ngIf="!system.details.documents || system.details.documents.length == 0">
      Dokumentatsioon puudub
    </p>
    <table class="details-list-table">
      <tr *ngFor="let doc of system.details.documents">
        <td>
          <app-file-icon [file]="doc"></app-file-icon>
        </td>
        <td>
          <a *ngIf="canDownload(doc)" href="{{ generalHelperService.getFileUrl(doc.url, system.details.short_name) }}" target="_blank">{{ (!doc.name || doc.name.trim()=='') ? generalHelperService.getFileUrl(doc.url) : doc.name }}</a>
          <span *ngIf="!canDownload(doc)" class="text-muted">{{ doc.name }}</span>
          <app-file-hint [file]="doc"></app-file-hint>
        </td>
      </tr>
    </table>
  </div>
</section>
