<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Turvalisus
    <button *ngIf="allowEdit" (click)="openSecurityEdit()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Muuda</button>
  </div>
  <div class="form-group separate-blocks">
      <label class="text-muted separated-text">Rakendatav infoturbe standard:</label>
      <p *ngIf="!system.getSecurityStandard()">
        Turvainfo puudub
      </p>
      <p *ngIf="system.getSecurityStandard()">
        <strong>{{ system.getSecurityStandard() }}</strong>
      </p>
  </div>
  <div *ngIf="system.getSecurityStandard() == globals.security_standard.iske" class="form-group">
    <label class="text-muted separated-text">ISKE turbetase:</label>
    <p>
      <strong *ngIf="system.getSecurityLevel() == globals.security_level.high">Kõrge</strong>
      <strong *ngIf="system.getSecurityLevel() == globals.security_level.medium">Keskmine</strong>
      <strong *ngIf="system.getSecurityLevel() == globals.security_level.low">Madal</strong>
      <strong>({{ system.getSecurityClass() }})</strong>
    </p>
  </div>
  <div *ngIf="isAuditVisible() && system.hasAuditInfo()" class="form-group">
    <strong>Auditeeritud viimati {{ system.getLatestAuditDate() | date:'y-MM-dd'}}</strong>
    <strong *ngIf="system.getLatestAuditResolution() == globals.audit_resolution_type.PASSED_WITHOUT_REMARKS">(<span class="text-success">Auditeeritud märkusteta ja soovitusteta</span>)</strong>
    <strong *ngIf="system.getLatestAuditResolution() == globals.audit_resolution_type.PASSED_WITH_REMARKS">(<span class="text-primary">Auditeeritud märkuste või soovitustega</span>)</strong>
    <strong *ngIf="system.getLatestAuditResolution() == globals.audit_resolution_type.DID_NOT_PASS">(<span class="text-danger">Ei läbinud auditit</span>)</strong>
  </div>
  <div *ngIf="allowEdit && !system.hasAuditInfo()" class="form-group">
    Auditeerimise info puudub
  </div>
</section>
