<section>
  <div class="card-deck mb-2 mb-sm-3">
    <div class="card feature">
      <div class="card-block">
        <h4 class="card-title">
                  <span class="fa fa-pencil">
                  </span>Infosüsteemi kirjeldamine</h4>
        <div class="card-text">
          <p>Selleks, et teised leiaksid sinu infosüsteemi, tuleb see esmalt kirja panna. Olgu tegemist alles loodava või juba aastaid kasutuselolevaga, siis kirjelda see RIHAs.</p>
          <p><strong>Infosüsteemi kirjeldamine RIHA-s annab:</strong></p>
          <ul>
            <li>teistele asutustele ja arendajatele teada, mis andmed sul on ja kuidas neid kasutada saab</li>
            <li>teadmise, kas infosüsteem vastab riigi IT nõuetele</li>
            <li>sulle endale kindluse, et oled täitnud tublisti seadust</li>
          </ul>
        </div>
      </div>
      <footer class="card-footer">
        <div class="actions-bar row align-items-center">
          <div class="col">
            <div class="links">
              <a href="Abi/Kirjeldamine">Loe lähemalt</a>
            </div>
          </div>
          <div class="col">
            <div class="buttons justify-content-end">
              <a class="btn btn-primary btn-lg btn-01" href="#" role="button">Alustan</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="card feature">
      <div class="card-block">
        <h4 class="card-title">
                  <span class="fa fa-times">
                  </span>X-teega liitumine</h4>
        <div class="card-text">
          <p>Teistest infosüsteemidest andmete saamiskes või sinna sisestamiseks tuleb kasutada X-teed. See tagab koosvõimelise andmevahetuse kõikide riigiasutustega.</p>
          <p><strong>X-teega liitumine:</strong></p>
          <ul>
            <li>avab sulle päringud teistesse infosüsteemidesse</li>
            <li>annab teistele turvalise ligipääsu sinu andmetele</li>
            <li>võimaldab sul keskenduda infosüsteemi funktsionaalsuse ja andmekvaliteedile ning jätta andmevahetus X-tee hooleks</li>
          </ul>
        </div>
      </div>
      <footer class="card-footer">
        <div class="actions-bar row align-items-center">
          <div class="col">
            <div class="links">
              <a href="Abi/X-teega-liitumine">Loe lähemalt</a>
            </div>
          </div>
          <div class="col">
            <div class="buttons justify-content-end">
              <a class="btn btn-primary btn-lg btn-01" href="#" role="button">Alustan</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="card feature">
      <div class="card-block">
        <h4 class="card-title">
                  <span class="fa fa-magic">
                  </span>Infosüsteemi hindamine</h4>
        <div class="card-text">
          <p>Riigis on mitmeid IT nõuete seadjaid, kelle ülesanne on kontrollida, kas infosüsteemid neile nõuetele vastavad. See tagab riigi infosüsteemi läbipaistvuse, koosvõimelisuse ja turvalisuse.</p>
          <p><strong>Infosüsteemi hindamine RIHA-s:</strong>
          </p>
          <ul>
            <li>lihtsustab infosüsteemi omaniku arendusi, kuna kõik riigi IT nõuded on teada ja arusaadavad</li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <footer class="card-footer">
        <div class="actions-bar row align-items-center">
          <div class="col">
            <div class="links">
              <a href="#">Loe lähemalt</a>
            </div>
          </div>
          <div class="col">
            <div class="buttons justify-content-end">
              <a class="btn btn-primary btn-lg btn-01" href="#" role="button">Alustan</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
