<app-page-header></app-page-header>
<section id="page" class="row no-gutters" *ngIf="loaded">
  <aside class="col sidebar">
    <nav id="sidemenu" class="sidenav">
      <div class="list-group">
        <a pageScroll [pageScrollAdjustHash]="true" [ngClass]="{'active': isMenuActive('üldkirjeldus', true)}" href="#üldkirjeldus" class="list-group-item justify-content-between">
          Infosüsteemi üldkirjeldus
        </a>
        <a pageScroll [pageScrollAdjustHash]="true" [ngClass]="{'active': isMenuActive('tagasiside')}" href="#tagasiside" class="list-group-item justify-content-between">
          Hindajate tagasiside
        </a>
        <a pageScroll [pageScrollAdjustHash]="true" [ngClass]="{'active': isMenuActive('andmed')}" href="#andmed" class="list-group-item justify-content-between">
          Andmed
        </a>
        <a pageScroll [pageScrollAdjustHash]="true" [ngClass]="{'active': isMenuActive('dokumentatsioon')}" href="#dokumentatsioon" class="list-group-item justify-content-between">
          Dokumentatsioon
        </a>
        <a pageScroll [pageScrollAdjustHash]="true" [ngClass]="{'active': isMenuActive('õigusaktid')}" href="#õigusaktid" class="list-group-item justify-content-between">
          Õigusaktid
        </a>
      </div>
    </nav>
  </aside>
  <article class="col separate-blocks">
    <div id="üldkirjeldus" class="separate-block">
      <app-producer-details-general [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-general>
    </div>
    <div id="tagasiside" class="separate-block">
      <app-producer-details-comments [system]="system"></app-producer-details-comments>
    </div>
    <div id="andmed" class="separate-block">
      <app-producer-details-objects [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-objects>
    </div>
    <div id="dokumentatsioon" class="separate-block">
      <app-producer-details-tech-docs [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-tech-docs>
    </div>
    <div id="õigusaktid" class="separate-block">
      <app-producer-details-legislations [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-legislations>
    </div>
  </article>
</section>
