<app-page-header></app-page-header>
<section id="page" class="row no-gutters" *ngIf="loaded">
  <aside class="col sidebar">
    <nav id="sidemenu" class="sidenav">
      <div class="list-group">
        <a pageScroll
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('uldkirjeldus', true)}"
           href="#uldkirjeldus"
           class="list-group-item justify-content-between">
          Infosüsteemi üldkirjeldus
        </a>
        <a pageScroll
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('tagasiside')}"
           href="#tagasiside"
           class="list-group-item justify-content-between">
          Hindajate tagasiside
        </a>
        <a pageScroll
           *ngIf="isBlockVisible('dataObjects')"
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('andmed')}"
           href="#andmed"
           class="list-group-item justify-content-between">
          Andmed
        </a>
        <a pageScroll
           *ngIf="isBlockVisible('documents')"
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('dokumentatsioon')}"
           href="#dokumentatsioon"
           class="list-group-item justify-content-between">
          Dokumentatsioon
        </a>
        <a pageScroll
           *ngIf="isBlockVisible('legislations')"
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('oigusaktid')}"
           href="#oigusaktid"
           class="list-group-item justify-content-between">
          Õigusaktid
        </a>
        <a pageScroll
           *ngIf="isBlockVisible('contacts')"
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('kontaktid')}"
           href="#kontaktid"
           class="list-group-item justify-content-between">
          Kontaktid
        </a>
        <a pageScroll
           [pageScrollAdjustHash]="true"
           [ngClass]="{'active': isMenuActive('seosed')}"
           href="#seosed"
           class="list-group-item justify-content-between">
          Seosed süsteemidega
        </a>
      </div>
    </nav>
  </aside>
  <article class="col separate-blocks">
    <div id="uldkirjeldus" class="separate-block">
      <app-producer-details-general [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-general>
    </div>
    <div id="tagasiside" class="separate-block">
      <app-producer-details-issues [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-issues>
    </div>
    <div id="andmed"
         *ngIf="isBlockVisible('dataObjects')"
         class="separate-block">
      <app-producer-details-objects (onSystemChanged)="system = $event" [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-objects>
    </div>
    <div id="dokumentatsioon"
         *ngIf="isBlockVisible('documents')"
         class="separate-block">
      <app-producer-details-tech-docs (onSystemChanged)="system = $event" [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-tech-docs>
    </div>
    <div id="oigusaktid"
         *ngIf="isBlockVisible('legislations')"
         class="separate-block">
      <app-producer-details-legislations (onSystemChanged)="system = $event" [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-legislations>
    </div>
    <div id="kontaktid"
         *ngIf="isBlockVisible('contacts')"
         class="separate-block">
      <app-producer-details-contacts (onSystemChanged)="system = $event" [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-contacts>
    </div>
    <div id="seosed"
         class="separate-block">
      <app-producer-details-relations [system]="system" [allowEdit]="isEditingAllowed()"></app-producer-details-relations>
    </div>
  </article>
</section>
