<div class="header-top d-none d-md-block">
  <div class="container">
    <div class="left">

    </div>
    <div class="right d-flex align-items-center">
      <a href="/oauth2/authorization/tara?fromUrl={{getCurrentUrl()}}" *ngIf="!isUserLoggedIn()" class="btn btn-primary btn-sm">
        <span>Logi Sisse</span>
        <span class="fa fa-user"></span>
      </a>
      <div *ngIf="isUserLoggedIn()">
        <span *ngIf="!isAllowedToChangeOrganization()">

          <ng-container *ngIf="!isNoOrganizationPresent()">{{ getUserText() }}</ng-container>
          <a *ngIf="isNoOrganizationPresent()" href="#" style="outline: none" (click)="openNoOrganizationWarningModal()">{{ getUserText() }}</a>

        </span>
        <span *ngIf="isAllowedToChangeOrganization()">
              <i *ngIf="noOrganizationSelected()" ngbTooltip="asutus ei ole valitud" class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
              <a href="#" style="outline: none" (click)="openOrganizationsModal()">{{ getUserText() }}</a>
        </span>
        <span class="px-1">
          &nbsp;
        </span>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="logout()">
          <span>Logi Välja</span>
          <span class="fa fa-sign-out"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header-bottom">
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <a class="navbar-brand" routerLink="/Avaleht">
        <img src="assets/images/base/RIHA.png" width="234" height="78" alt="Riigi infosüsteemi haldussüsteem"></a>
      <nav class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-0 mr-xl-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'/Avaleht'">Avaleht</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': isListOrSubView()}">
            <a class="nav-link" [routerLink]="'/Infosüsteemid'" [queryParams]="{_dc: getRand()}">RIHA kataloog</a>
          </li>
          <li *ngIf="environmentService.getUserMatrix().hasApproverRole" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'/Hinda'">Hinda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://varamu.riha.ee/">RIHA varamu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://abi.riha.ee/">Abikeskus</a>
          </li>
        </ul>
        <form class="form-inline search-bar">
          <label for="search" class="d-block d-sm-none">Otsing</label>
          <input id="search"
                 #keywordInput
                 class="form-control"
                 (keyup.enter)="searchInfosystems(keywordInput)"
                 type="text"
                 placeholder="Otsi">
        </form>
      </nav>
      <button class="menu-toggle" type="button" (click)="openNavigationMenu()">
        <span></span>
      </button>
    </div>
  </nav>
</div>
