.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
  margin-left: -10px;
}

@media (max-width: 1199.98px){
.card-deck {
  flex-direction: column;
}
}

@media (min-width: 1199.98px) {
  .card {
    flex: 1 0 0%;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

@media (max-width: 1199.98px) {
  .card:not(:first-child){
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 1199.98px) {
  .card:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

