<section>
  <div class="card-deck mb-2 mb-sm-3">
    <div *ngFor="let card of cards" class="card feature">
      <div class="card-block">
        <h4 class="card-title">
                  <span class="fa" [ngClass]="card.iconType">
                  </span>{{card.title}}</h4>
        <div class="card-text">
          <ng-container *ngFor="let item of card.content">
            <p *ngIf="item.type==='p'">{{ item.value }}</p>
            <ng-container *ngIf="item.type==='list'">
              <p><strong>{{ item.title }}</strong></p>
              <ul *ngIf="item.items !==null">
                <li *ngFor="let li of item.items">{{li}}</li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <footer class="card-footer">
        <div class="actions-bar row align-items-center">
          <div class="col">
            <div class="links">
              <ng-container *ngIf="card.actions && card.actions.links">
                <a *ngFor="let link of card.actions.links" [routerLink]="link.hash">{{link.label}}</a>
              </ng-container>
            </div>
          </div>
          <div class="col">
            <div class="buttons justify-content-end">
              <ng-container *ngIf="card.actions && card.actions.buttons">
                <a *ngFor="let button of card.actions.buttons" [routerLink]="[button.link]" class="btn btn-primary btn-lg btn-01" role="button">{{button.label}}</a>
              </ng-container>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
