<section class="pagehead error page-style">
  <div class="row">
    <div class="col-12">
      <span class="fa fa-exclamation-circle"></span>
      <h1>Lehekülge ei leitud</h1>
      <p class="lead mb-0">Infosüsteemide otsimiseks kasutage palun <a href="https://www.riha.ee/Infosüsteemid">RIHA kataloogi.</a>
        <br> X-tee alamsüsteemid ja teenuste kataloogi leiate <a href="https://www.x-tee.ee/">X-tee iseteenindusest.</a>
        <br> Kui arvate siiski, et leht on kadunud, võtke palun ühendust meie kasutajatoega <a href="mailto:help@ria.ee">help@ria.ee</a>.</p>
    </div>
  </div>
</section>
