<app-page-header [text]="'Minu infosüsteemid'"></app-page-header>
<div *ngIf="!userMatrix.isLoggedIn" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Palun logige sisse</h3>
  <p class="mb-0">Kirjeldamise alustamiseks on vaja RIHAsse sisse logida. <a [routerLink]="'/Login'">Logi sisse.</a></p>
</div>
<div *ngIf="userMatrix.isLoggedIn && !userMatrix.isOrganizationSelected && userMatrix.hasOrganizations" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Palun valige asutus</h3>
  <p class="mb-0">Sul ei ole ühegi asutuse kirjeldaja roll aktiivne. Asutust vaheta <a (click)="openOrganizationsModal()" href="#">siit</a>. Uute õiguste saamiseks pöördu <a href="mailto:help@ria.ee">help@ria.ee</a>.</p>
</div>
<div *ngIf="userMatrix.isLoggedIn && (userMatrix.isOrganizationSelected && !userMatrix.hasDescriberRole || !userMatrix.hasOrganizations)" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Kirjeldamine ei ole lubatud</h3>
  <p class="mb-0">Sul ei ole infosüsteemi kirjeldamise õigust. Õiguse saamiseks võta ühendust RIHA kasutajatoega <a href="mailto:help@ria.ee">help@ria.ee</a></p>
</div>
<section *ngIf="userMatrix.isLoggedIn && userMatrix.isOrganizationSelected" class="col card p-3">
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <input class="form-control col"
               placeholder="Otsi kataloogist"
               (keyup.enter)="getOwnSystems()"
               [(ngModel)]="filters.searchText"
               type="text" id="search-text-input">
        <button type="button" class="btn btn-primary ml-3" (click)="getOwnSystems()"><i class="fa fa-search" aria-hidden="true"></i> Otsi</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <a href="#" (click)="toggleSearchPanel()" class="pull-right font-weight-bold">Täpsusta otsingut</a>
  </div>
  <div *ngIf="extendedSearch" id="extended-search-panel">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="name-input">Nimi</label>
          <input class="form-control" (keyup.enter)="getOwnSystems()" [(ngModel)]="filters.name" type="text" id="name-input">
        </div>
        <div class="form-group">
          <label for="x-road-status-input">X-teega liidestumine</label>
          <select id="x-road-status-input" class="form-control"
                  (keyup.enter)="getOwnSystems()"
                  [(ngModel)]="filters.xRoadStatus">
            <option [value]="''">määramata</option>
            <option [value]="globals.x_road_status.JOINED">liidestatud</option>
            <option [value]="globals.x_road_status.NOT_JOINED">ei ole liidestatud</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date-created-input-from">Sisestamise kuupäev alates</label>
          <div class="input-group datepicker">
            <input id="date-created-input-from" class="form-control" placeholder="yyyy-mm-dd"
                   [(ngModel)]="filters.dateCreatedFrom" ngbDatepicker #dateCreatedFrom="ngbDatepicker">
            <span class="input-group-btn">
                <button (click)="dateCreatedFrom.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="date-updated-input-from">Viimati muudetud alates</label>
          <div class="input-group datepicker">
            <input id="date-updated-input-from" class="form-control" placeholder="yyyy-mm-dd"
                   [(ngModel)]="filters.dateUpdatedFrom" ngbDatepicker #dateUpdatedFrom="ngbDatepicker">
            <span class="input-group-btn">
                <button (click)="dateUpdatedFrom.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="name-input">Lühinimi</label>
          <input class="form-control" (keyup.enter)="getOwnSystems()" [(ngModel)]="filters.shortName" type="text" id="short-name-input">
        </div>
        <div class="form-group">
          <label for="development-status-input">Arendamise staatus</label>
          <select id="development-status-input" class="form-control"
                  (keyup.enter)="getOwnSystems()"
                  [(ngModel)]="filters.developmentStatus">
            <option [value]="''">määramata</option>
            <option [value]="globals.development_status.IN_DEVELOPMENT">aktiivses arenduses</option>
            <option [value]="globals.development_status.NOT_IN_DEVELOPMENT">ei ole arenduses</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date-created-input-to">Sisestamise kuupäev kuni</label>
          <div class="input-group datepicker">
            <input id="date-created-input-to" class="form-control" placeholder="yyyy-mm-dd"
                   [(ngModel)]="filters.dateCreatedTo" ngbDatepicker #dateCreatedTo="ngbDatepicker">
            <span class="input-group-btn">
                <button (click)="dateCreatedTo.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="date-updated-input-to">Viimati muudetud kuni</label>
          <div class="input-group datepicker">
            <input id="date-updated-input-to" class="form-control" placeholder="yyyy-mm-dd"
                   [(ngModel)]="filters.dateUpdatedTo" ngbDatepicker #dateUpdatedTo="ngbDatepicker">
            <span class="input-group-btn">
                <button (click)="dateUpdatedTo.toggle()" class="btn btn-outline-primary btn-02 open-datepicker"><span class="fa fa-calendar"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="topics-input">Märksõna</label>
          <input class="form-control" (keyup.enter)="getOwnSystems()" [(ngModel)]="filters.topic" type="text" id="topics-input">
        </div>
        <div class="form-group">
          <label for="purpose-input">Eesmärk</label>
          <input class="form-control" (keyup.enter)="getOwnSystems()" [(ngModel)]="filters.purpose" type="text" id="purpose-input">
        </div>
        <div class="form-group">
          <label for="approval-status">Kooskõlastamise staatus</label>
          <select id="approval-status" class="form-control"
                  (keyup.enter)="getOwnSystems()"
                  [(ngModel)]="filters.lastPositiveApprovalRequestType">
            <option [value]="''">määramata</option>
            <option [value]="globals.issue_type.ESTABLISHMENT_REQUEST">asutamine kooskõlastatud</option>
            <option [value]="globals.issue_type.TAKE_INTO_USE_REQUEST">kasutamine kooskõlastatud</option>
            <option [value]="globals.issue_type.FINALIZATION_REQUEST">lõpetamine kooskõlastatud</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label for="system-status-input">Infosüsteemi staatus</label>
          <select id="system-status-input" class="form-control"
                  (keyup.enter)="getOwnSystems()"
                  [(ngModel)]="filters.systemStatus">
            <option [value]="''" selected>määramata</option>
            <option [value]="globals.system_status.IN_USE">kasutusel</option>
            <option [value]="globals.system_status.ESTABLISHING">asutamisel</option>
            <option [value]="globals.system_status.FINISHED">lõpetatud</option>
          </select>
        </div>
        <div class="form-group">
          <label for="stored-data-input">Põhiandmed</label>
          <input class="form-control" (keyup.enter)="getOwnSystems()" [(ngModel)]="filters.storedData" type="text" id="stored-data-input">
        </div>
      </div>
    </div>
    <div class="actions-bar mt-2 mb-1">
      <div class="buttons pull-right">
        <button type="button" class="btn btn-default" (click)="clearFiltersAndRefresh()">Tühjenda</button>
        <button type="button" class="btn btn-primary" (click)="getOwnSystems()"><i class="fa fa-search" aria-hidden="true"></i> Otsi</button>
      </div>
    </div>
  </div>
  <div *ngIf="loaded" class="my-1">
    <div class="table-responsive">
      <app-grid-total-found [gridData]="gridData"></app-grid-total-found>
      <table id="infosystems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
        <thead class="thead-default">
          <th>
            <app-sort-button
              [labelText]="'Lühinimi'"
              [sortProperty]="'short_name'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Infosüsteemi nimi'"
              [sortProperty]="'name'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Staatus'"
              [sortProperty]="'meta.system_status.status'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Kooskõlastamine'"
              [sortProperty]="'last_positive_approval_request_type'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Märksõnad'"
              [sortProperty]="'topics'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
          <th>
            <app-sort-button
              [labelText]="'Viimati muudetud'"
              [sortProperty]="'meta.update_timestamp'"
              [gridData]="gridData"
              (buttonClick)="onSortChange($event)"></app-sort-button>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let system of gridData.content">
            <td class="name"><a [routerLink]="['/Infosüsteemid/Vaata', system.details.short_name]">{{system.details.short_name}}</a></td>
            <td class="name"><a [routerLink]="['/Infosüsteemid/Vaata', system.details.short_name]">{{system.details.name}}</a></td>
            <td class="status">{{ generalHelperService.getSystemStatusText(system) }}</td>
            <td class="approval-status">{{ generalHelperService.getApprovalStatusText(system) }}</td>
            <td class="topics"><button *ngFor="let topic of system.details.topics" (click)="searchSystemsByTopic(topic)" class="btn btn-primary btn-sm ml-1 mb-1">{{ topic }}</button></td>
            <td class="last-modified text-nowrap">{{ system.details.meta.update_timestamp | date:'y-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pull-right">
        <app-grid-currently-showing [gridData]="gridData"></app-grid-currently-showing>
        <ngb-pagination
          class="pull-right"
          (pageChange)="onPageChange($event)"
          [pageSize]="gridData.size"
          [maxSize]="5"
          [collectionSize]="gridData.getSize()"
          [page]="gridData.getPageNumber()">
        </ngb-pagination>
      </div>
      <a *ngIf="userMatrix.hasDescriberRole" class="btn btn-primary" [routerLink]="['/Kirjelda/Uus']">Lisa uus</a>
    </div>
  </div>
  <div *ngIf="!loaded" class="my-1 text-center">
    <i class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></i>
  </div>
</section>
