<app-page-header [text]="'Sisesta infosüsteemi andmed'"></app-page-header>
<section class="col card p-3">
  <div class="my-1">
    <form class="col-12" #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" >
      <p>
        RIHAsse pannakse kirja riigi, kohaliku omavalitsuse või muu avalik-õigusliku juriidilise isiku või avalikke ülesandeid täitva eraõigusliku isiku infosüsteemid, mis asutatakse ja mida kasutatakse seaduses, selle alusel antud õigusaktis või rahvusvahelises lepingus sätestatud ülesannete täitmiseks.
      </p>
      <div class="form-group row" [ngClass]="{'has-danger': name.invalid  && (name.dirty || name.touched || addForm.submitted)}">
        <label for="name-input" class="col-sm-2 col-form-label pr-sm-0 text-sm-right required">Nimi:</label>
        <div class="col-sm-10">
          <input #name="ngModel" class="form-control" name="name" ngModel type="text" id="name-input" placeholder="nt. Andmeomanike ametlik register" required>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': shortName.invalid  && (shortName.dirty || shortName.touched || addForm.submitted)}">
        <label for="short-name-input" class="col-sm-2 col-form-label pr-sm-0 text-sm-right required">Lühinimi:</label>
        <div class="col-sm-10">
          <input #shortName="ngModel"
                 class="form-control"
                 name="short_name"
                 pattern="[a-zA-ZÕõÄäÖöÜü0-9.-]*"
                 ngModel type="text"
                 id="short-name-input"
                 placeholder="nt. AARE" required>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': purpose.invalid  && (purpose.dirty || purpose.touched || addForm.submitted)}">
        <label for="purpose-textarea" class="col-sm-2 col-form-label pr-sm-0 text-sm-right required">Infosüsteemi eesmärk:</label>
        <div class="col-sm-10">
          <textarea #purpose="ngModel" ngModel name="purpose" class="form-control counter-element" id="purpose-textarea" rows="10" placeholder="kellele ja miks infosüsteem luuakse" required></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-success pull-right">Salvesta</button>
    </form>
  </div>
</section>
