<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Hindajate tagasiside
  </div>
  <app-alert *ngIf="newAdded" [conf]="{
          type: 'success',
          heading: 'Uus arutelu',
          text: 'Uus arutelu on edukalt lisatud'
        }"></app-alert>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-exclamation-circle text-danger tab-icon" aria-hidden="true"></i> Hetkel aktiivsed</ng-template>
      <ng-template ngbTabContent>
        <app-alert *ngIf="activeIssues.length == 0" [conf]="{
          type: 'info',
          heading: 'Ühtegi aktiivset arutelu ei leidu',
          text: 'Arutelusid algatada ja kommenteerida saavad vaid infosüsteemi kontaktid ning RIHA hindajad'
        }"></app-alert>
        <div class="my-1" *ngIf="activeIssues.length > 0">
          <div class="table-responsive">
            <table class="table table-striped dataTable" cellspacing="0" width="100%">
              <tbody>
              <tr *ngFor="let comment of activeIssues">
                <td class="icon-column"><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i></td>
                <td><a href="#" (click)="openIssueDetailsModal(comment)">{{ comment.title }}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-check-circle text-success tab-icon" aria-hidden="true"></i> Suletud</ng-template>
      <ng-template ngbTabContent>
        <app-alert *ngIf="closedIssues.length == 0" [conf]="{
          type: 'info',
          heading: 'Ühtegi suletud arutelu ei leidu',
          text: 'Arutelusid algatada ja kommenteerida saavad vaid infosüsteemi kontaktid ning RIHA hindajad'
        }"></app-alert>
        <div class="my-1" *ngIf="closedIssues.length > 0">
          <div class="table-responsive">
            <table class="table table-striped dataTable" cellspacing="0" width="100%">
              <tbody>
              <tr *ngFor="let comment of closedIssues">
                <td class="icon-column"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></td>
                <td><a href="#" (click)="openIssueDetailsModal(comment)">{{ comment.title }}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div *ngIf="allowEdit || userMatrix.hasApproverRole" class="actions-bar" >
    <button class="btn btn-primary" (click)="openAddIssueModal()">Lisa uus arutelu</button>
  </div>
</section>
