<app-page-header [text]="'Sisesta infosüsteemi andmed'"></app-page-header>
<section class="col card p-3">
  <div class="my-1">
    <form id="infosystem-form" method="post" action="/save/">
      <div class="form-group row">
        <label for="name">Nimi</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nimi" required value="">
      </div>
      <div class="form-group row">
        <label for="short-name">Lühinimi</label>
        <input type="text" class="form-control" id="short-name" name="shortName" placeholder="Lühinimi" required value="">
      </div>
      <div class="form-group row">
        <label for="documentation">Dokumentatsiooni URL</label>
        <input type="text" class="form-control" id="documentation" name="documentation" placeholder="Dokumentatsiooni URL" required value="">
      </div>

      <button type="submit" class="btn btn-default">Salvesta</button>
    </form>
  </div>
</section>
