
<div class="container-fluid my-1">
    <div class="table-responsive">
        <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="owner" data-filter="input">Omanik</th>
                <th class="name" data-filter="input">Infosüsteemi nimi</th>
                <th class="last-modified" data-filter="input" data-placeholder="AAAA-KK-PP">Viimati muudetud</th>
            </tr>
            </thead>
            <tbody>
            <script id="row-template" type="text/x-custom-template">
                <tr>
                    <td class="name"></td>
                    <td class="last-modified text-nowrap"></td>
                </tr>
            </script>
            </tbody>
        </table>
    </div>
</div>