<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.bootstrap4.min.js"></script>
    <script src="/js/Detailview.js"></script>
    <script>

            $(function() {
                new Detailview().init();
            });

    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#">Brand</a>
    <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sub Menu1</a></li>
                <li><a href="#">Sub Menu2</a></li>
                <li><a href="#">Sub Menu3</a></li>
                <li class="divider"></li>
                <li><a href="#">Sub Menu4</a></li>
                <li><a href="#">Sub Menu5</a></li>
            </ul>
        </li>
        <li><a href="sourcedocs.html">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
        <li><a href="#">Link5</a></li>
    </ul>
</div>
<div class="container">

</div>
<div id="tableview">
<#include 'sourcedocs.html'>
</div>

<script>


</script>
</body>
</html>