<div class="container-fluid my-1" style="width: 80%; float: right">
    <div class="table-responsive">
        <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0"
               width="80%" >

            <thead>
            <th>Andmeobjekti nimetus</th>
            <th>Kirjeldus</th>
            </thead>
            <tbody id="entities">
            <script id="row-template-entities" type="text/x-custom-template">
                <tr>
                    <td class="name"></td>
                    <td class="description"></td>
                </tr>
            </script>

            </tbody>
        </table>
    </div>
</div>
