<header id="header">
    <div class="nav-overlay"></div>
    <div class="header-top hidden-xs-down">
        <div class="container">
            <div class="left">
                <div class="btn-group hidden-sm-down">
                    <button type="button" class="btn btn-outline-primary btn-sm"><span class="fa fa-universal-access"></span><span>Ligipääsetavus</span></button>
                </div>
                <div class="links hidden-sm-down">
                    <a href="#">Tagasiside</a>
                </div>
                <div id="langbar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">In English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">по-русски</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right d-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm"><span>Logi Sisse</span><span class="fa fa-user"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <nav class="navbar  navbar-toggleable-xl">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="images/base/logo.svg" width="200" height="35" alt="Logo"></a>
                <nav class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav mr-0 mr-xl-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Avaleht <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kõik toimingud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Omanikule</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kooskõlastajale</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Arendajale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Abi</a>
                        </li>
                    </ul>
                    <form class="form-inline search-bar">
                        <label for="search" class="hidden-xs-up">Otsing</label>
                        <input id="search" class="form-control" type="text" placeholder="Search">
                    </form>
                </nav>
                <button class="menu-toggle">
                    <span></span>
                </button>
            </div>
        </nav>
    </div>
</header>