<div class="container-fluid my-1" style="width: 80%; float: right">
    <div class="table-responsive">
        <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0"
               width="80%" >

            <thead>
                <th>Nimi</th>
                <th>Liik</th>
                <th>Lisamise kuupäev</th>
            </thead>
            <tbody id="source">
            <script id="row-template-source" type="text/x-custom-template">
                <tr>
                    <td class="name"></td>
                    <td class="type"></td>
                    <td class="date"></td>
                </tr>
            </script>

            </tbody>
        </table>
    </div>
</div>
