<div class="container-fluid my-1">
  <div class="table-responsive">
    <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="owner" data-filter="input">Omanik</th>
          <th class="name" data-filter="input">Infosüsteemi nimi</th>
          <th class="last-modified" data-filter="input" data-placeholder="AAAA-KK-PP">Viimati muudetud</th>
          <th class="status" data-filter="select">Staatus</th>
          <th class="approved" data-filter="input" data-placeholder="AAAA-KK-PP">Kooskõlastatud</th>
          <th class="approval-status" data-filter="select">Kooskõlastamise staatus</th>
          <th class="objective" data-filter="input">Eesmärk</th>
        </tr>
      </thead>
      <tbody>
        <script id="row-template" type="text/x-custom-template">
          <tr>
            <td class="owner"></td>
            <td class="name"></td>
            <td class="last-modified text-nowrap"></td>
            <td class="status"></td>
            <td class="approved text-nowrap"></td>
            <td class="approval-status text-nowrap"></td>
			<td class="objective"></td>
          </tr>
        </script>
      </tbody>
    </table>
  </div>
</div>