<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Andmed
  </div>
  <div class="my-1">
    <div class="form-group">
      <label for="object" class="text-muted separated-text">Sisestama peab infosüsteemi põhiandmed, mida mujal registrites ei koguta:
        <app-tooltip [placement]="'bottom-right'" [text]="'Kirjelda põhiandmed, mida mujal registrites ei koguta, kuni 10 kergesti hoomatava objektina, et tekitada parem arusaamine, milliseid andmeid infosüsteemis kogutakse. Näiteks rahvastikuregistri puhul “Eesti elanike elukohandmed”, “Eesti elanike sugulussuhted” jne. Ära mine liialt detailidesse, püüa andmeobjekte grupeerida. Üks objekt võib koosneda mitmest sõnast, uus objekt tekib reavahetuse ja uue välja lisamisega'"></app-tooltip>
      </label>
      <div class="row">
        <input id="object" class="form-control col-10"
               #object
               placeholder="Eesti kodanike elukohaandmed"
               (keyup.enter)="addStoredDataObject(object)"
               name="object">
        <div class="col-2">
          <button class="btn btn-default" (click)="addStoredDataObject(object)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'text-danger': stored_data.length == 10}">
      Hetkel sisestatud {{ stored_data.length }} / 10
    </div>
    <div class="dataTables_wrapper">
      <table *ngIf="system" class="details-list-table">
        <tr *ngFor="let object of stored_data; let i = index">
          <td>
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            {{ object }}
          </td>
          <td>
            <button (click)="deleteStoredDataObject(i)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-bar">
      <div class="buttons pull-right">
        <button (click)="activeModal.close()" class="btn btn-default pull-right">Tühista</button>
        <button (click)="saveSystem()" class="btn btn-success pull-right">Salvesta</button>
      </div>
    </div>
  </div>
</section>
