<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Andmed
  </div>
  <div class="my-1">
    <div class="form-group">
      <label for="object" class="separated-text">Infosüsteemi põhiandmed:
        <app-tooltip [placement]="'bottom-right'" [text]="'Põhiandmed, mida mujal registrites ei koguta, kuni 10 kergesti hoomatava objektina, et tekitada parem arusaamine, milliseid andmeid infosüsteemis kogutakse. Näiteks rahvastikuregistri puhul ‘Eesti elanike elukohandmed’, ‘Eesti elanike sugulussuhted’ jne. Üks objekt võib koosneda mitmest sõnast, uus objekt lisatakse ‘lisa’ nupu vajutamisega või reavahetusega'"></app-tooltip>
      </label>
      <div class="row">
        <input id="object" class="form-control col-10"
               #object
               placeholder="Eesti kodanike elukohaandmed"
               (keyup.enter)="addStoredDataObject(object)"
               name="object">
        <div class="col-2">
          <button class="btn btn-default" (click)="addStoredDataObject(object)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
        </div>
      </div>
    </div>
    <div class="form-group text-muted row" [ngClass]="{'text-danger': stored_data.length == 10}">
      Sisestatud {{ stored_data.length }} / 10
    </div>
    <div class="dataTables_wrapper">
      <table *ngIf="system" class="details-list-table">
        <tr *ngFor="let object of stored_data; let i = index">
          <td>
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            {{ object }}
          </td>
          <td>
            <button (click)="deleteStoredDataObject(i)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group">
      Detailine andmekoosseis:
      <app-tooltip [placement]="'bottom-right'" [text]="'Infosüsteemi detailne andmete koosseis, mis on andmeobjektideks lahti kirjutatud ning annab ülevaate kogu infost, mida andmekogus hoitakse. Lisatuna csv, xmi või andmebaasi skeema kirjeldusena, milles on põhiandmed on eraldi välja toodud'"></app-tooltip>
    </div>
    <form #dataFilesForm="ngForm">
      <div *ngIf="dataFile == null" class="form-group">
        <label for="url" class="separated-text">URL:</label>
        <input id="url" class="form-control"
               #url="ngModel"
               [(ngModel)]="data.url"
               placeholder="http://www.example.com"
               name="url"
               url required>
      </div>
      <div *ngIf="dataFile == null" class="form-group">
        või <label class="btn btn-default input-file-label mb-0" for="dataFile"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Laadi fail</label>
        <input class="d-none" id="dataFile" name="dataFile" type="file" (change)="fileChange($event, dataFilesForm)">
      </div>
      <div *ngIf="dataFile != null" class="form-group">
        {{ dataFile.name }}
        <i *ngIf="uploading" class="fa fa-spinner fa-spin fa-fw"></i>
        <button *ngIf="!uploading" (click)="resetFileForm(dataFilesForm)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
      </div>
      <div class="form-group">
        <label for="name" class="separated-text">Dokumendi pealkiri:</label>
        <input id="name" class="form-control"
               #name="ngModel"
               [(ngModel)]="data.name"
               placeholder="nt. Rakenduse lähtekood"
               name="name"
               required>
      </div>
      <div class="form-group col-12">
        <button class="btn btn-default pull-right" (click)="addDataFile(dataFilesForm)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
      </div>
      <div class="dataTables_wrapper">
        <table *ngIf="system" class="details-list-table">
          <tr *ngFor="let file of data_files; let i = index">
            <td>
              <i class="fa fa-file-o text-primary"></i>
            </td>
            <td>
              <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
            </td>
            <td>
              <button (click)="deleteDataFile(i)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="actions-bar mt-2 mb-1">
    <div class="buttons pull-right">
      <button (click)="activeModal.close()" class="btn btn-default pull-right">Tühista</button>
      <button (click)="saveSystem()" class="btn btn-success pull-right">Salvesta</button>
    </div>
  </div>
</section>
