/* You can add global styles to this file, and also import other style files */
.whitespace-wrap-normal {
  white-space: normal !important;
}

.owner-centered {
  vertical-align: middle !important;
}

.text-align-left {
  text-align: left !important;
}

.th-valign-middle {
  vertical-align: middle !important;
}
