<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Andmed
  </div>
  <div class="form-group">
    <label for="object" class="text-muted separated-text">Sisestama peab infosüsteemi põhiandmed, mida mujal registrites ei koguta:</label>
    <input id="object" class="form-control"
           placeholder="Eesti kodanike elukohaandmed"
           name="object">
    <button class="btn btn-primary btn-sm pull-right" (click)="addObject()"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
    <ul class="circle-bullets">
      <li *ngFor="let object of objects">{{object.text}}</li>
    </ul>
  </div>
</section>
