<header class="pagehead">
  <div class="row py-4 smaller">
    <div class="col-md-6 col-12">
      <h1>Ülevaade riigi infosüsteemist</h1>
      <div class="lead pr-lg-4">Riigi infosüsteemi haldussüsteemist RIHA leiad riigi infosüsteemide ja andmete kirjeldused</div>
    </div>
    <div class="col-md-6 col-12 d-none d-sm-block">
      <div class="stats-block mt-md-0 mt-3">
        <div class="item-single">
          <p class="h1">500</p>
          <p class="text">Aktiivset asutust ja ettevõtet</p>
        </div>
        <div class="item-single">
          <p class="h1">üle 1300</p>
          <p class="text">registreeritud infosüsteemi ja andmekogu</p>
        </div>
      </div>
    </div>
  </div>
</header>
<app-card-deck></app-card-deck>
