<div class="fixed-header">
  Õigusaktid
  <button (click)="closeModal()" class="btn btn-sm btn-secondary close-modal-btn pull-right"><i class="fa fa-remove" aria-hidden="true"></i></button>
</div>
<section class="col card p-3 main-content scrollable-modal-content">
  <div class="my-1">
    <form #addForm="ngForm">
      <div class="form-group">
        <label for="url" class="text-muted separated-text">Õigusakti URL:</label>
        <input id="url"
               [ngClass]="{'is-invalid': url.invalid && (url.dirty || url.touched || buttonClicked)}"
               class="form-control col-12"
               #url="ngModel"
               [(ngModel)]="data.url"
               type="url"
               placeholder="https://www.riigiteataja.ee/akt/126082015036"
               (keyup.enter)="addLegislation(addForm)"
               name="url" url required>

      </div>
      <div class="form-group">
        <label for="name" class="text-muted separated-text">Õigusakti pealkiri:</label>
        <input id="name" class="form-control col-12"
               #name="ngModel"
               [(ngModel)]="data.name"
               placeholder="Põllumajandustoetuste ja põllumassiivide registri põhimäärus"
               (keyup.enter)="addLegislation(addForm)"
               name="name">

      </div>
      <div class="form-group">
        <label for="type" class="text-muted separated-text">Õigusakti liik:</label>
        <select id="type"
                [compareWith]="generalHelperService.compareClassifiers"
                [ngClass]="{'is-invalid': type.invalid && (type.dirty || type.touched || buttonClicked)}"
                class="form-control col-12"
                #type="ngModel"
                [(ngModel)]="data.type"
                name="type" required>
          <option [ngValue]="''" disabled selected>Vali õigusakti liik...</option>
          <option *ngFor="let type of generalHelperService.toArray(classifiers.legislation_types)" [ngValue]="type.code" selected>{{ type.value }}</option>
        </select>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <button class="btn btn-secondary pull-right" (click)="addLegislation(addForm)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
        </div>
      </div>
      <div class="dataTables_wrapper">
        <table class="details-list-table">
          <tr *ngFor="let legislation of legislations; let i = index">
            <td>
              <i class="fa fa-external-link text-primary"></i>
            </td>
            <td>
              <a href="{{ legislation.url }}" target="_blank">{{ (!legislation.name || legislation.name.trim()=='') ? legislation.url : legislation.name }}</a>
            </td>
            <td>
              <button (click)="deleteLegislation(i)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions-bar">
        <div class="buttons pull-right">
          <button (click)="saveSystem()" class="btn btn-success pull-right">Salvesta</button>
        </div>
      </div>
    </form>
  </div>
</section>

