<section class="pagehead content-block" style="background-image:url(assets/images/data/intro-bg.png)">
  <header class="row">
    <div class="col-12">
      <h1>Portaali sisenemine</h1>
    </div>
  </header>
  <app-alert *ngIf="isLoggedIn()" [conf]="{
    type: 'success',
    heading: 'Sisse logimine',
    text: 'Olete juba sisse logitud!'
  }"></app-alert>
  <app-alert *ngIf="alertConf" [conf]="alertConf"></app-alert>
  <div *ngIf="!isLoggedIn()" class="row justify-content-center">
    <div class="col-6">
      <div class="card-deck">
        <div class="card card-alt">
          <div class="card-title">
            Sisenege TARA kaudu
          </div>
          <div class="card-block">
            <div class="card-text">TARA autentimise alustamiseks vajutage “Jätka”</div>
          </div>
          <div class="card-footer">
            <div class="actions-bar row align-items-center">
              <div class="col">
                <div class="buttons mt-3 justify-content-end">
                  <a class="btn btn-primary btn-lg btn-01" href="oauth2/authorization/tara?fromUrl={{getCurrentUrl()}}" role="button">Jätka</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
