<section class="pagehead content-block" style="background-image:url(assets/images/data/intro-bg.png)">
  <header class="row">
    <div class="col-12">
      <h1>Portaali sisenemine</h1>
    </div>
  </header>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card-deck">
        <div class="card card-alt">
          <div class="card-title">
            Sisenege ID-kaardiga
          </div>
          <div class="card-block">
            <div class="card-text">Sisestage ID-kaart kaardilugejasse ja vajutage nuppu “Jätka”</div>
          </div>
          <div class="card-footer">
            <div class="actions-bar row align-items-center">
              <div class="col">
                <div class="buttons mt-3 justify-content-end">
                  <a class="btn btn-primary btn-lg btn-01" href="#" (click)="doLogin()" role="button">Jätka</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--div class="card card-alt">
          <form>
            <div class="card-title">
              Sisenege Mobiil ID-ga
            </div>
            <div class="card-block">
              <div class="form-group row">
                <label for="personal-code-input" class="col col-form-label text-sm-right">Isikukood</label>
                <div class="col">
                  <input class="form-control" type="text" id="personal-code-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="phone-number-input" class="col col-form-label text-sm-right">Telefoninumber</label>
                <div class="col">
                  <input class="form-control" type="text" id="phone-number-input">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="actions-bar row align-items-center">
                <div class="col">
                  <div class="buttons mt-0 justify-content-end">
                    <a class="btn btn-primary btn-lg btn-01" [routerLink]="'/'" role="button">Jätka</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div -->
      </div>
    </div>
  </div>
</section>
