<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Seosed süsteemidega
  </div>
  <div class="my-1">
    <form #addForm="ngForm">
      <div class="form-group" [ngClass]="{'has-danger': systemId.invalid && (systemId.dirty || systemId.touched)}">
        <label for="systemId" class="text-muted separated-text">Süüsteem:</label>
        <input id="systemId" class="form-control col-12"
               #systemId="ngModel"
               [(ngModel)]="relation.systemId"
               (keyup.enter)="addRelation(addForm)"
               name="systemId" required>

      </div>
      <div class="form-group" [ngClass]="{'has-danger': relationType.invalid && (relationType.dirty || relationType.touched)}">
        <label for="relationType" class="text-muted separated-text">Seose tüüp:</label>
        <input id="relationType" class="form-control col-12"
               #relationType="ngModel"
               [(ngModel)]="relation.relationType"
               (keyup.enter)="addRelation(addForm)"
               name="relationType" required>

      </div>
      <div class="form-group row">
        <div class="col-12">
          <button class="btn btn-default pull-right" (click)="addRelation(addForm)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
        </div>
      </div>
      <div class="dataTables_wrapper">
        <table class="details-list-table">
          <tr *ngFor="let relation of relations; let i = index">
            <td>
              <i class="fa fa-circle text-primary"></i>
            </td>
            <td>
              <span class="font-weight-bold">{{ relation.system }}</span><br />
              <a class="text-gray-dark small" href="{{ relation.type }}">{{ relation.type }}</a>
            </td>
            <td>
              <button (click)="deleteRelation(i)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions-bar">
        <div class="buttons pull-right">
          <button (click)="closeModal(addForm)" class="btn btn-default pull-right">Tühista</button>
          <button (click)="saveSystem()" class="btn btn-success pull-right">Salvesta</button>
        </div>
      </div>
    </form>
  </div>
</section>
