<section class="col card p-3 main-content">
  <div class="panel-action-heading">
    Dokumentatsioon
  </div>
  <div class="my-1">
    <app-tooltip [text]='"Laadi üles infosüsteemi dokumentatsioon: arhitektuuri dokument, eelanalüüs, liideste kirjeldus ja muud sarnast"'></app-tooltip>
    <form #addForm="ngForm">
      <div class="form-group">
        <label class="btn btn-default input-file-label mb-0" for="dataFile"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Laadi fail</label>
        <input class="d-none" id="dataFile" name="dataFile" type="file" (change)="fileChange($event, addForm)">
      </div>
      <div *ngIf="docFile != null" class="form-group">
        {{ docFile.name }}
        <i *ngIf="uploading" class="fa fa-spinner fa-spin fa-fw"></i>
      </div>
      <div class="form-group">
        või lisa viide
      </div>
      <div class="form-group" [ngClass]="{'has-danger': url.invalid && (url.dirty || url.touched)}">
        <label for="url" class="text-muted separated-text">URL:</label>
        <input id="url" class="form-control col-12"
               #url="ngModel"
               [disabled]="uploading"
               [(ngModel)]="data.url"
               type="url"
               placeholder="http://www.example.com"
               (keyup.enter)="addTechDoc(addForm)"
               name="url" url required>

      </div>
      <div class="form-group" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched)}">
        <label for="name" class="text-muted separated-text">Pealkiri:</label>
        <input id="name" class="form-control col-12"
               #name="ngModel"
               [disabled]="uploading"
               [(ngModel)]="data.name"
               placeholder="Lähtekood"
               (keyup.enter)="addTechDoc(addForm)"
               name="name" required>

      </div>
      <div class="form-group row">
        <div class="col-12">
          <button class="btn btn-default pull-right"
                  [disabled]="uploading"
                  (click)="addTechDoc(addForm)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Lisa</button>
        </div>
      </div>
      <div class="dataTables_wrapper">
        <table class="details-list-table">
          <tr *ngFor="let doc of documents; let i = index">
            <td>
              <i class="fa fa-external-link text-primary"></i>
            </td>
            <td>
              <a href="{{ generalHelperService.getFileUrl(doc.url) }}" target="_blank">{{ doc.name }}</a>
            </td>
            <td>
              <button (click)="deleteTechDoc(i)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions-bar">
        <div class="buttons pull-right">
          <button (click)="closeModal(addForm)" class="btn btn-default pull-right">Tühista</button>
          <button (click)="saveSystem()" class="btn btn-success pull-right">Salvesta</button>
        </div>
      </div>
    </form>
  </div>
</section>
