<ng-template #tipContent>
  <div class="custom-tooltip">
    Juurdepääs piiratud kuni: {{ getRestrictionEndDate() }}<br />
    Alus: {{ getReasonLegislation() }}<br />
    {{ getReasonDescription() }}<br />
    Piirangu algus: {{ getRestrictionStartDate() }}<br />
    Teabevaldaja: {{ getOrganizationName() }}
  </div>
</ng-template>
<i *ngIf="file.accessRestriction && file.accessRestriction.reasonCode" class="fa fa-info-circle text-muted ml-1 hint-style" container="body" [ngbTooltip]="tipContent" aria-hidden="true"></i>
