<app-page-header></app-page-header>
<app-login-link *ngIf="!userMatrix.isLoggedIn" loginBoxText="See lehekülg on nähtav ainult RIHA hindaja õigusega kasutajatele. Kui oled RIHA hindaja, siis " loginLinkText="logi sisse."></app-login-link>

<div *ngIf="userMatrix.isLoggedIn && !userMatrix.isOrganizationSelected && userMatrix.hasApproverRole" class="alert alert-info" role="alert">
  <h3 class="alert-heading">Palun vali asutus</h3>
  <p class="mb-0">Sul ei ole ühegi asutuse kirjeldaja roll aktiivne. Asutust vaheta <a (click)="openOrganizationsModal()" href="#">siit</a>. Uute õiguste saamiseks pöördu <a href="mailto:help@ria.ee">help@ria.ee</a>.</p>
</div>
<div *ngIf="userMatrix.isLoggedIn && (userMatrix.isOrganizationSelected && !userMatrix.hasApproverRole|| !userMatrix.hasOrganizations)" class="alert alert-info" role="alert">  
  <h3 class="alert-heading">Lehekülje vaatamiseks ei ole õiguseid</h3>
  <p class="mb-0">See lehekülg on nähtav ainult RIHA hindaja õigusega kasutajatele.Õiguse saamiseks võta ühendust RIHA kasutajatoega <a href="mailto:help@ria.ee">help@ria.ee</a></p>
</div>
<section id="page" class="row no-gutters" *ngIf="userMatrix.isLoggedIn && userMatrix.hasApproverRole">
  <aside class="col sidebar">
    <nav id="sidemenu" class="sidenav">
      <div class="list-group">
        <a [ngClass]="{'active': helper.isMenuActive('kooskolastamisel-infosusteemid', true)}"
           (click)="generalHelperService.scrollTo('#kooskolastamisel-infosusteemid')"
           class="list-group-item justify-content-between">
          Kooskõlastamisel infosüsteemid
        </a>
      </div>
      <div class="list-group">
        <a [ngClass]="{'active': helper.isMenuActive('aktiivsed-arutelud')}"
           (click)="generalHelperService.scrollTo('#aktiivsed-arutelud')"
           class="list-group-item justify-content-between">
          Aktiivsed arutelud
        </a>
      </div>
    </nav>
  </aside>
  <article class="col separate-blocks">
    <div id="kooskolastamisel-infosusteemid"
         class="separate-block">
      <app-systems-for-approval-list></app-systems-for-approval-list>
    </div>
    <div id="aktiivsed-arutelud"
         class="separate-block">
      <app-active-discussions></app-active-discussions>
    </div>
  </article>
</section>
